$theme-colors: (
    "info": tomato,
    "danger": teal
);

@import "~bootstrap/scss/bootstrap";

html body {
  font-family: sans-serif;
  margin: 20px;
}

.topNav {
  form input#searchField {
    background: no-repeat left / 1.23076923em url(https://en.wikipedia.org/w/skins/Vector/resources/common/images/search.svg?ac00d);
    width: 90%;
    padding-left: 25px;
  }

  .links a {
    float: left;
    margin-right: 10px;
  }

  margin-bottom: 40px;
}

#title {
  box-shadow: 0 1px #a2a9b1;
  position: relative;

  span {
    font-weight: normal;
    font-size: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#rightColumn {
  .wrapper {
    text-align: center;
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    font-size: 88%;
    line-height: 1.5em;

    p {
      font-weight: bold;
    }
  }
}

table {
  text-align: left;

  td.noResults {
    text-align: center;
    color: gray;
  }

  td:nth-child(3), td:nth-child(4) {
    width: 24em;
    word-break: break-all;
  }

  tr.highlight td {
    background-color: burlywood;
  }
}

